---
Language:        Cpp
Standard:        Latest
BasedOnStyle:    LLVM
UseTab:          Always
IndentWidth:     4
TabWidth:        4
ContinuationIndentWidth: 4
ColumnLimit:     120
PointerAlignment: Right
SortIncludes:    true
FixNamespaceComments: true
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: true
NamespaceIndentation: All
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
...
