name: CI

on:
  push:
    branches:
      - "main"
      - "development"
  pull_request:
    branches:
      - "main"
      - "development"

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    env:
      CC: clang-21
      CXX: clang++-21
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install LLVM/Clang 21 & Tools
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all
          sudo apt-get install -y cmake ninja-build libgtest-dev llvm-21-dev

      - name: Configure CMake
        run: |
          cmake -B build -G Ninja \
          -DCMAKE_BUILD_TYPE=Debug \
          -DBUILD_TESTS=ON \
          -DENABLE_SANITIZERS=ON \
          -DLLVM_DIR=/usr/lib/llvm-21/lib/cmake/llvm

      - name: Build
        run: cmake --build build --parallel $(nproc)

      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure -j $(nproc)